    <div class="text_card">

        <div class="card__header">

            <div class="header_txt">
                <h1>Desireê Costa</h1>
                <h1>Software Developer</h1>
                <h2 class="role"[class.hidden]= ><span> {{ textoAtual }}</span></h2>
                <br>
            </div>

            <div class="card__tecs">
                <img src="/assets/image.png" alt="" srcset="">
            </div>

        </div>

        <div class="card__info">


                <p>
                Graduanda em Análise e Desenvolvimento de Sistemas e técnica em Informática (IFPB). <br>

                Desenvolvimento fullstack com foco em Angular, Java e fundamentos sólidos de programação. <br>
            </p>
            <br>
            

            <p>Estagiária em TI • Projetos fullstack • Escrita técnica </p>

        
            
        </div>

        <app-projects-card></app-projects-card>
        

     </div>