<div class="container-projects">

    <div class="cont_card">

        <div class="txt">
            <h1></h1>
        </div>

     
        <div class="projects_cards">
            
            
            <a href="https://github.com/DesireeCost4/CardGame-.git"> 
                 <div class="cards_pjt">
                    <img src="https://github.com/user-attachments/assets/5d6d1550-b117-46c3-b332-c271894ecc66" alt="">
                    <h4>Selectum</h4>
                    <p>Fullstack com Java e Angular</p>

                 </div>
            </a>

        </div>
   
    
    
        <div class="projects_cards">

            <a href="https://frontend-icyc8jek2-desiree-costas-projects.vercel.app/"> 
            <div class="cards_pjt">
            <img src="https://github.com/user-attachments/assets/594c2e32-817b-45a1-8d0d-4e93b8bf9bae" alt="">
           
            <h4>Vitrine online</h4>
            <p>Fullstack com Angular e Python</p>
            </div>
            </a>
        </div>
        
        
        
  




<div class="projects_cards">
    <a href="#"> 
        <div class="cards_pjt">
            <h4>Em construção</h4>
            <p>Estou trabalhando em novos projetos...</p>
        </div>
    </a>
</div>
        
    </div>

    

</div>

