body {
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
  }

.section__one{
    width: 100%;
    height: 80vh
}

.section__two{
    background:  #0B0B0D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin: 60px;
    border-top: 1px solid white;
    height: 100%;
    width: 80%;
}

@media screen and (max-width: 700px) {
        
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    .section__one{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .section__two{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 200px;
    }

    .projects{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  

  }